.global-header{
  display:flex;
  justify-content: space-between;
  background-color: var(--bs-black)

}

.site-title {
  text-decoration: none;
}

.site-title span {
  font-size: var(--bs-body-font-size);
  color: var(--bs-white);
}

.global-header__right{
  display: flex;
  align-items: center;
}
.global-header__right button {
  background-color: transparent;
  border: none;
  color: var(--bs-white);
  font-size: 1rem;
  padding: 1.2em;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  border-left: 1px solid var(--bs-grey-5)
}

.global-header__right .icon{
  width: 50px;
  height: 50px;
  background-color: var(--bs-black);
  fill: white;
}

.global-nav{
  display:none;
}