.hero-banner {
  display: grid;
  grid-template-columns: 1fr;
}

.hero-banner > img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  grid-column: 1/2;
  grid-row: 1/3;
}

.hero-banner_content {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.5em 1em;
}

.hero-banner_title {
  font-size: 1.8em;
  text-decoration: none;
  color: white;
}

.hero-banner_subtitle {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

/*Park styles*/
.park-icon-container{
  display: flex;
  justify-content: center;
  background-color: var(--bs-black);
}

.park-icon-container .icon{
  width: 40px;
  height: 40px;
}

.park-icon-container a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.8em 2em;
  text-decoration: none;
}

.park-icon-container span{
  color: var(--bs-white)
}

* {
  box-sizing: border-box;
}
/* img {
  max-width: 100%;
} */

body {
  font-family: var(--bs-body-font-family);
  font-size: 18px;
  margin: 0;
}

a:link,
a:hover {
  text-decoration: none;
}