.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* svg {
  background-color: var(--bs-black);
  fill: white;
} */
#intro > h1{
  padding-top:20px
}
#intro > p{
  padding-bottom: 20px;
}
main, footer{
  padding-left: 20px;
  padding-right: 20px;
}
  .media-card img{
  max-width: 100%;
  height: 70%;
  width: 100%;
}

.media-card__title{
  text-decoration: none;
  color:#000
}

footer{
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url(https://byui-cse.github.io/wdd231-course/images/topo_pattern.png);
}

@media screen and (min-width: 1200px){
  .media-card{
    display: flex;
    gap: 15px;
    min-width: 0;
    padding-bottom: 10px;
  }
}
